<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /crece/

    RewriteRule ^assets/(.*)$ public/assets/$1 [L]

    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    RewriteRule ^ index.php [L]
</IfModule>
