APP_ENV=production
APP_URL=https://datos.fundacioncrececontigo.org
APP_TIMEZONE=America/Guayaquil

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=crece_portal
DB_USERNAME=creceportaluser
DB_PASSWORD=Crece2k!!!

MAIL_FROM_ADDRESS=notificaciones@fundacioncrece.org
MAIL_FROM_NAME="Fundación Ecuador Crece Contigo"
