FLASK_APP=wsgi.py
FLASK_ENV=production
SECRET_KEY=CAMBIAR_ESTA_CLAVE
DATABASE_URL=mysql+pymysql://creceportaluser:Crece2k!!!@127.0.0.1:3306/crece_portal
UPLOAD_FOLDER=/home/usuario/uploads
MAIL_MAILER=smtp
MAIL_HOST=smtp.tudominio.com
MAIL_PORT=587
MAIL_USERNAME=notificaciones@fundacioncrece.org
MAIL_PASSWORD=CAMBIAR_ESTA_CLAVE
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=notificaciones@fundacioncrece.org
MAIL_FROM_NAME="Fundación Ecuador Crece Contigo"
